<h2>
  <% if params[:emproyee_id] %>
	<%= @emproyee.full_name %>さんの注文履歴一覧
  <% else %>
    注文履歴一覧
  <% end %>
</h2>

<table>
	<thead>
		<tr>
			<th>注文日時</th>
			<th>購入者</th>
			<th>メニュー名</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
		  <tr>
		  	<td><%= order.created_at.strftime('%Y/%m/%d/%H:%M:%S') %></td>
		  	<td><%= order.emproyee.full_name %></td>
		  	<td><%= order.menu.name %></td>
		  </tr>
		<% end %>
	</tbody>
</table>
<%= paginate @orders %>