<div class="container">
	<div class="row">
<h2>
  <% if params[:employee_id] %>
	<%= @employee.full_name %>さんの注文履歴一覧
  <% else %>
    注文履歴一覧
  <% end %>
</h2>

<table class="table">
	<thead>
		<tr>
			<th>注文日時</th>
			<th>購入者</th>
			<th>メニュー名</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
		  <tr>
		  	<td><%= order.created_at.strftime('%Y/%m/%d/%H:%M:%S') %></td>
		  	<td><%= order.employee.full_name %></td>
		  	<td><%= link_to order.menu.name, admin_menu_path(order.menu_id) %></td>
		  </tr>
		<% end %>
	</tbody>
</table>
<%= paginate @orders %>
</div>
</div>