<div class="container">
  <div class="row">
      <div class="col-xs-3" style="margin-top: 50px;">
		<%= render 'layouts/sidebar', categorys: @categorys %>
	  </div>
	  <div class="col-xs-5" style="margin: 50px 0 0 200px;">
			<%= attachment_image_tag @menu, :image, format: "jpeg", fallback: "2Ol4Vx9bWwqIFD5gONZpD2Syergfe2cB.png", size: '300x100' %>
			<h2><%= @menu.name %></h2>
			<h4><%= @menu.introduction %></h4>
			<p>カテゴリー： <%= link_to @menu.category.name, employee_menus_path(category_id: @menu.category_id) %></p>
			<p>ステータス： <%= @menu.status %></p>

			<%= link_to "注文する", employee_orders_path(menu_id: @menu.id), :method => :post, class: "btn btn-primary" %>
		</div>
	</div>
</div>