<div class="container">

<div class="row">
<h2>メニュー一覧</h2>
<div class="add-menu">
<%= link_to "メニューを追加", new_admin_menu_path, class: "btn btn-primary" %>
</div>

</div>

<div class="row">
<table class="table">
	<thead>
		<tr>
			<th>メニュー名</th>
			<th>カテゴリー 名</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @menus.each do |menu| %>
		<tr>
			<td><%= link_to menu.name, admin_menu_path(menu.id) %></td>
			<td><%= menu.category.name %></td>
			<td><%= menu.status %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= paginate @menus, class: "pagination" %>
</div>
</div>