<h2>メニュー新規登録</h2>

<%= form_for(@menu, url: admin_menus_path) do |f| %>
<%= render 'layouts/error_messages', resource: @menu %>
  <%= f.label :image, "画像" %>
  <%= attachment_image_tag @menu, :image, format: "jpeg", size: '100x100', fallback: "2Ol4Vx9bWwqIFD5gONZpD2Syergfe2cB.png" %>
  <span class="btn">
  <%= f.attachment_field :image %>画像選択</span>

  <table>
  	<thead>
  		<tr>
  			<th></th>
  			<th></th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td><%= f.label :name, "商品名" %></td>
  			<td><%= f.text_field :name %></td>
  		</tr>
  		<tr>
  			<td><%= f.label :introduction, "メニュー説明" %></td>
  			<td><%= f.text_area :introduction %></td>
  		</tr>
  		<tr>
  			<td><%= f.label :category_id, "カテゴリー" %></td>
  			<td><%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "--選択してください--" %></td>
  		</tr>
  		<tr>
  			<td><%= f.label :status, "在庫状況" %></td>
  			<td><%= f.radio_button :status, :在庫あり %>
  				<%= f.label :status, "在庫あり" %>
  				<%= f.radio_button :status, :品切れ %>
  				<%= f.label :status, "品切れ" %>
  			</td>
  		</tr>
  	</tbody>
  </table>

  <%= f.submit "新規登録", class: "btn btn-primary" %>
  <% end %>