<header>
    <div class="container">
      <div class="col-xs-3">
        <nav class="nav navbar-nav navbar-left">
          <%= link_to StaffMeals, employee_employees_top_path, style: 'color: #ff5151' %>
      </div>

    <!-- 管理者ログイン時と顧客ログイン時、非ログイン時で表示切替。 -->
      <div class="col-xs-9">
      <!-- admin -->
        <ul class="nav navbar-nav navbar-right">
          <% if admin_signed_in? %>
            <span class="admin-header">
              <p class="admin-login-info">管理者としてログインしています</p>
              <div class="btn-group">
                <li class="btn btn-default"><%= link_to 'Top', admin_homes_top_path, class: 'nav-link' %></li>
                <li class="btn btn-default"><%= link_to 'メニュー一覧', admin_menus_path, class: 'nav-link' %></li>
                <li class="btn btn-default"><%= link_to '従業員一覧', admin_employees_path, class: 'nav-link' %></li>
                <li class="btn btn-default"><%= link_to '注文履歴一覧', admin_orders_path, class: 'nav-link' %></li>
                <li class="btn btn-default"><%= link_to 'カテゴリー管理', admin_categorys_path, class: 'nav-link' %></li>
                <li class="btn btn-default"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link' %></li>
              </div>
        <!-- 検索窓 -->
              <div class="form-inline my-2 my-lg-0">
                <%= form_tag(admin_search_path, method: :get) do %>
                  <%= text_field_tag 'search[content]', '', class: "form-control mr-sm-2", placeholder: "検索..."  %>
                  <%= select_tag 'search[model]', options_for_select({ "従業員検索" => "employee", "メニュー検索" => "menu"}), class: "form-control my-2 my-sm-0" %>
                  <%= select_tag 'search[method]', options_for_select({"前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
                  <%= submit_tag '検索', class: "btn btn-outline-success my-2 my-sm-0" %>
                <% end %>
              </div>
            </span>
        <!-- employee -->
          <% elsif employee_signed_in? %>
            <div class="employee-header">
     <!-- ログイン -->
           <div class="employee-login-info">
            <% if employee_signed_in? %>
              <p class="login-info">おはようございます！<%= current_employee.full_name %>さん！</p>
             <% end %>
           </div>
              <div class="btn-group">
                <li class="btn btn-default"><%= link_to 'Top', employee_employees_top_path, class: 'nav-link' %></li>
                <li class="btn btn-default"><%= link_to 'About', employee_employees_about_path, class: 'nav-link' %></li>
                <li class="btn btn-default"><%= link_to 'マイページ', employee_employee_path(current_employee), class: 'nav-link' %></li>
                <li class="btn btn-default"><%= link_to 'メニュー一覧', employee_menus_path, class: 'nav-link' %></li>
                <li class="btn btn-default"><%= link_to 'ログアウト', destroy_employee_session_path, method: :delete, class: 'nav-link' %></li>
              </div>
        <!-- 非ログイン -->
          <% else %>
            <div class="not-login-header">
              <li class="btn btn-default"><%= link_to 'About', employee_employees_about_path, class: 'nav-link' %></li>
              <li class="btn btn-default"><%= link_to 'メニュー一覧', employee_menus_path, class: 'nav-link' %></li>
              <li class="btn btn-default"><%= link_to '新規登録', new_employee_registration_path, class: 'nav-link' %></li>
              <li class="btn btn-default"><%= link_to 'ログイン', new_employee_session_path, class: 'nav-link' %></li>
            </div>
          <% end %>
        </ul>
    </div>
  </div>
</div>
  </nav>
</header>
